<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <add key="PhysicalLocation" value="C:\Stuff\"/>
    <add key="IrcServers" value="irc.wug.za.net"/>
    <add key="IrcPort" value="6667"/>
    <add key="IrcUser" value="wolfbot_dev"/>
    <!-- IRC Channels are like this: #channelA #channelB #ChannelC:PASSWORD -->
    <add key="IrcChan" value="#botville #jawug"/>
    <add key="DnsConnectionMySql" value="Server=172.16.15.1;Database=wugcentral;Uid=XXXXXXXXXX;Pwd=XXXXXXXX;default command timeout=20;Connection Timeout=50;"/>
    <add key="FleaConnectionMySql" value="Server=10.10.10.156;Database=wugdb;Uid=XXXXXXXXX;Pwd=XXXXXXXXXXX;"/>
    <add key="WebsiteConnectionMySql"
      value="Server=172.16.15.14;Database=c6wugzanet;Uid=wolfen;Pwd=XXXXXXXXXXXX;Connection Timeout=500;Convert Zero Datetime=True"/>
    <!-- 172.16.55.5 -->
    <add key="PassDBConnectionMySql"
      value="Server=droid.russian.za.net;Database=JawugAdmin;Uid=Jawugadmin;Pwd=XXXXXXXXXXX;Connection Timeout=500;Convert Zero Datetime=True"/>
    <!-- Format is IP IP IP (spaces between) -->
    <add key="DnsServers" value="172.16.55.5 172.16.15.1 172.16.100.1"/>
    <add key="DnsTimeout" value="300"/>
  </appSettings>
  <system.web>
    
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
        <globalization culture="en-ZA" uiCulture=""/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>