<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <appSettings>
    <!-- IRC Servers are pace separated, on failure the next one is chosen -->
    <add key="IrcServers" value="irc.wug.za.net irc.jawug.org.za 172.16.100.1 172.16.15.1"/>
    <add key="IrcPort" value="6667"/>
    <add key="IrcUser" value="wolfbot_dev"/>
    <!-- IRC Channels are like this: #channelA #channelB #ChannelC:PASSWORD -->
    <add key="IrcChan" value="#botville #highsiteinfo"/>
    <add key="DnsConnectionMySql" value="Server=172.16.15.1;Database=wugcentral;Uid=XXXXXXXXX;Pwd=XXXXXXXXXXXX;default command timeout=20;Connection Timeout=50;"/>
    <add key="FleaConnectionMySql" value="Server=10.10.10.156;Database=wugdb;Uid=XXXXXXXXXXX;Pwd=XXXXXXXXXXX;"/>
    <add key="WebsiteConnectionMySql" value="Server=172.16.15.14;Database=c6wugzanet;Uid=XXXXXXXXXXX;Pwd=XXXXXXXXXXXX;Connection Timeout=500;Convert Zero Datetime=True"/>
    <!-- 172.16.55.5 -->
    <add key="PassDBConnectionMySql" value="Server=droid.russian.za.net;Database=JawugAdmin;Uid=XXXXXXXXXXX;Pwd=XXXXXXXXXXXXX;Connection Timeout=500;Convert Zero Datetime=True"/>
    <!-- Format is IP IP IP (spaces between) -->
    <add key="DnsServers" value="172.16.55.5 172.16.15.1 172.16.100.1"/>
    <add key="DnsTimeout" value="300"/>
  </appSettings>
</configuration>
