<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<appSettings>
  <add key="TrackerUrl" value="http://172.16.16.193/synthtrack"/>
  <add key="TrackerUsername" value="XXXXXXXXXXXXXX"/>
  <add key="TrackerPassword" value="XXXXXXXXXXXXXX"/>
  <add key="FileTypesToUpload" value="*.avi;*.mkv;*.mp3;*.mp4;*.zip;*.iso;*.rar"/>
  <add key="FolderToScan" value="c:\stuff\movies"/>
  <add key="FolderUserName" value=""/>
  <add key="FolderPassword" value=""/>
  <add key="PathToUTorrent" value="C:\Users\Iain\AppData\Roaming\uTorrent\utorrent.exe"/>
  <add key="WhereToPutTorrents" value="C:\stuff\crap"/>
  <add key="UploadToTracker" value="true"/>
</appSettings>
</configuration>
